<body>
    <div class="container">
        <section id="content">
            <form method="POST">
                <h1>Authentication</h1>
                <div>
                    <input name="email"
                        id="email"
                        type="text"
                        required=""
                        placeholder="Email">
                </div>
                <div>
                    <input name="password"
                    id="password"
                    type="password"
                    required=""
                    placeholder="Password">
                </div>
                <div>
                    <input type="checkbox" onclick="myFunction()"> Show Password
                </div>
                <div>
                    <input type="submit" value="Authorize">
                </div>
            </form>
        </section>
    </div>
</body>

<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
    }
}
</script>